<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ase.mymoney"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ase.mymoney.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ase.mymoney.ui.ExpanceTypesActivity"
            android:label="@string/title_expance_types" >
        </activity>
        <activity
            android:name="com.ase.mymoney.ui.MyProfil"
            android:label="@string/title_my_profile" >
        </activity>
        <activity
            android:name="com.ase.mymoney.ui.InregistrareUser"
            android:label="@string/title_register" >
        </activity>
        <activity
            android:name="com.ase.mymoney.ui.ExpanceActivity"
            android:label="@string/title_expance" >
        </activity>
    </application>

</manifest>